{
  "$schema": "https://json.schemastore.org/prettierrc",
  "singleQuote": true,
  "trailingComma": "none",
  "printWidth": 79,
  "pluginSearchDirs": ["."],
  "proseWrap": "always",
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "semi": true
}
